
<div class="container" style="float: left; width: 60%;">
    <h2>의류 추천</h2>
    <br>
    <div class="row">
        <div class="col-md-2">1
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">2
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">3
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">4
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">5
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
    </div>
    <div class="row">
        <div class="col-md-2">6
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">7
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">8
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">9
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
        <div class="col-md-2">10
            <img src="{{ images.image.url }}", style= "width: 120; height : auto;"></div>
       
    </div>
    <div class="row"></div>
</div>