<div class="container" style="float: left; width: 60%">
    <h2>의류 추천</h2>
    <br />
    <div class="row">
        <div class="col-md-2">
            1
            <img src="{{ row1.img }}" , style="width: 120; height: auto" />
            <a href="{{row1.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            2
            <img src="{{ row2.img }}" , style="width: 120; height: auto" />
            <a href="{{row2.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            3
            <img src="{{ row3.img }}" , style="width: 120; height: auto" />
            <a href="{{row3.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            4
            <img src="{{ row4.img }}" , style="width: 120; height: auto" />
            <a href="{{row4.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            5
            <img src="{{ row5.img }}" , style="width: 120; height: auto" />
            <a href="{{row5.url}}"> 쇼핑몰링크 </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            6
            <img src="{{ row6.img }}" , style="width: 120; height: auto" />
            <a href="{{row6.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            7
            <img src="{{ row7.img }}" , style="width: 120; height: auto" />
            <a href="{{row7.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            8
            <img src="{{ row8.img }}" , style="width: 120; height: auto" />
            <a href="{{row8.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            9
            <img src="{{ row9.img }}" , style="width: 120; height: auto" />
            <a href="{{row9.url}}"> 쇼핑몰링크 </a>
        </div>
        <div class="col-md-2">
            10
            <img src="{{ row10.img }}" , style="width: 120; height: auto" />
            <a href="{{row10.url}}"> 쇼핑몰링크 </a>
        </div>
    </div>
</div>