{% extends "frontpage/layout.html" %}
{% block title %}
이미지 업로드
{% endblock %}

{% block content %}

<div class="container center">
    <h1 class="text-center" style="padding-top:30px;">
        당신의 사진을 넣어주세요
    </h1>
    <form style="text-align:center; margin-top:30px;" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit" class="btn btn-success">업로드</button>
        </p>
    </form>
</div>
<div>

    <img src="https://img.29cm.co.kr/next-product/2020/02/26/060265accd6441a990137b6cffa494dd_20200226140146.jpg?width=700"
        alt="" style="width: auto; height: auto">


</div>
{% endblock %}